<div class="page-header">
  <h1><%= @product.title %>的图片</h1>
  <div class="pull-right">
    <%= form_tag admin_product_product_images_path(@product), :method=> :post, enctype: 'multipart/form-data', class:'form-horizontal' do  %>
    <input type="file" name="images[]" multiple class="image-input"/>
     <%= submit_tag '上传', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<table class="table table-bordered table-striped table-hover">
  <col width="100"/>
  <col />
  <col width="300"/>
  <col width="60"/>
  <thead>
  <tr>
    <td>ID</td>
    <td>图片</td>
    <td>权重</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
      <td><%= image.id %></td>
      <td><%= image_tag(image.image.url(:mini)) %></td>
      <td>
        <%= form_tag admin_product_product_image_path(@product, image), method: :put do %>
            <input type="text" value="<%= image.weight %>" name="weight" />
            <%= submit_tag "更新", class: "btn btn-default btn-xs" %>
        <% end %>
      </td>
      <td>
        <%= link_to '删除', admin_product_product_image_path(@product, image), :method=> :delete, data: {confirm: '确定要删除么？'}, :class=>'btn btn-link btn-sm' %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>