<div class="page-header">
  <h1><%= @category.title %>的商品</h1>
  <div class="pull-right">
    <%= link_to '新建商品', new_admin_product_category_product_path(@category), :class=>'btn btn-success btn-sm' %>
  </div>
</div>

<table class="table table-bordered table-striped table-hover">
  <col width="100"/>
  <col/>
  <col width="100"/>
  <col width="100"/>
  <col width="100"/>
  <col width="180"/>
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>价格</th>
      <th>库存</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% if @products.any? %>
      <% @products.each do |product| %>
          <tr>

          <td><%= product.uuid %></td>
          <td><%= product.title %></td>
          <td><%= product.price %></td>
          <td><%= product.amount %></td>
          <td><%= product.status_i18n %></td>
          <td>
            <%= link_to '编辑', edit_admin_product_category_product_path(@category,product), :class=>'btn btn-link btn-sm' %>
            <%= link_to '删除', admin_product_category_product_path(@category, product), :method=> :delete, :class=>'btn btn-link btn-sm' %>
            <%= link_to '图片', admin_product_product_images_path(product), :class=>'btn btn-link btn-sm' %>
          </td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @products %>